name: gcc
on:
  push:
    branches: [ master, development ]
  pull_request:
    branches: [ master ]

jobs:
  build-gcc-linux:
    name: GCC Linux
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-18.04, ubuntu-20.04]

    steps:
    - uses: actions/checkout@v2

    - name: Build
      run: |
        cmake -DBUILD_TESTS=ON -DNO_STL=OFF -DETL_USE_TYPE_TRAITS_BUILTINS=OFF -DETL_USER_DEFINED_TYPE_TRAITS=OFF ./
        gcc --version
        make
    
    - name: Run tests
      run: ./test/etl_tests

  build-gcc-linux-no-stl:
    name: GCC Linux - No STL
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-18.04, ubuntu-20.04]

    steps:
    - uses: actions/checkout@v2

    - name: Build
      run: |
        cmake -DBUILD_TESTS=ON -DNO_STL=ON -DETL_USE_TYPE_TRAITS_BUILTINS=OFF -DETL_USER_DEFINED_TYPE_TRAITS=OFF ./
        gcc --version
        make
    
    - name: Run tests
      run: ./test/etl_tests
