name: msvc
on:
  push:
    branches: [ master, development, pull-request/* ]
  pull_request:
    branches: [ master, pull-request/* ]

jobs:
  windows:
    name: Windows
    runs-on: [windows-2022]
    strategy:
      matrix:
        cpp-ver: ["03", 11, 14, 17, 20]
        no-stl: [ON, OFF]
        force-03: [ON, OFF]
        exclude:
          - cpp-ver: 03
            force-03: ON
        include:
          - cpp-ver: "03"
            tests: NO

    env:
      CXX_VER: ${{ matrix.cpp-ver }}
      FORCE_03: ${{ matrix.force-03 }}
      NO_STL: ${{ matrix.no-stl }}

    steps:
    - name: Checkout
      uses: actions/checkout@v4
      with:
        submodules: recursive

    - name: Add msbuild to PATH
      uses: microsoft/setup-msbuild@v2

    - name: Build
      shell: bash
      run: |
        cmake -G "Visual Studio 17 2022" \
          ./ \
          -AWin32 \
          -DBUILD_TESTS=ON \
          -DNO_STL=${NO_STL} \
          -DETL_USE_TYPE_TRAITS_BUILTINS=OFF \
          -DETL_USER_DEFINED_TYPE_TRAITS=OFF \
          -DETL_FORCE_TEST_CPP03_IMPLEMENTATION=${FORCE_03} \
          -DETL_CXX_STANDARD=${CXX_VER}
        MSBuild.exe -version
        MSBuild.exe -m ./etl.sln

    - name: Run tests
      run: test/Debug/etl_tests.exe
